# Configurações do Servidor
FLASK_DEBUG=False
PORT=5000

# Chave Secreta para Sessões / Segurança do Flask
SECRET_KEY=sua_chave_secreta_aqui_gerada_com_seguranca

# Banco de Dados
DATABASE_PATH=loja.db
